<footer>
  <nav class="flex gap-3 justify-center">
    <div>Made with</div>
    <img
      src="https://astro.build/assets/press/full-logo-dark.svg"
      width="80px"
      height="80px"
    />
  </nav>
</footer>
