<header>
  <nav class="flex justify-between">
    <div>Indra Zulfi</div>
    <div class="flex gap-4">
      <div>Home</div>
      <div>Blog</div>
      <div>Resume</div>
      <div>Links</div>
    </div>
  </nav>
</header>
